[submodule "external/openpi"]
	path = external/openpi
	url = https://github.com/Physical-Intelligence/openpi.git
[submodule "external/lerobot"]
	path = external/lerobot
	url = https://github.com/huggingface/lerobot.git
